@media (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .text-center-sm {
        text-align: center;
    }

    .margin-sm {
    	margin-bottom: 3px;
    }
}

.panel-body {
	color: black;
}

.panel-heading {
	background-color: #666 !important;
	color: white !important;
}

.carousel img{
    width: 100%;

}