.panel-body{
    color: black;
}

.panel-heading{
    background-color: #666 !important;
    color: white !important;
}

.carousel .carousel-inner img{
    width: 100%;
    height: 25em;
    object-fit: contain;
    overflow: hidden;
}

.carousel, .car-details{
    margin-bottom: 15px;
}

@media screen and (min-width 768px) and (max-width 992px){    
    .eq-height{
        display: flex;
    }
    .eq-height .col-md-12{
        flex: 1;
    }
}