@import 'https://fonts.googleapis.com/css?family=Lato';

/*main*/
html,
body{
	height:  100%;
    font-family: 'Lato';
}
/*header*/
/*#app-default-navbar*/
#app-layout #app-default-navbar{
	margin-bottom: 0;
}

#app-layout .navbar-static-top{
	background: #666;
}

#app-layout .navbar-static-top a{
	color:  white;
}

#app-layout .navbar-static-top a:hover{
	background: #595959;
}

#app-layout .navbar-static-top a:focus{
	background: #606060;
}

#app-layout .navbar-static-top .dropdown-menu a{
	color: #333;
}

#app-layout .navbar-static-top .dropdown-menu a:hover{
	background: #e7e7e7;
}

#app-layout .navbar-static-top .navbar-right .open > a{
	background: #606060;
}

#app-layout .navbar-static-top .dropdown-menu a:focus{
	background: #e7e7e7;
}

#app-layout .navbar-static-top a .fa-phone, #app-layout .navbar-static-top a .fa-sign-in{
	margin-right: 5px;
}

#app-layout #app-quick-search{
	margin-top: 7.5px;
	margin-bottom: 7.5px;
	max-width: 200px;
}

#app-layout #app-quick-search button{
	background: #999;
	color: white;
}

#app-layout #app-quick-search button:hover{
	background: #808080;
}

@media (max-width: 768px){
	#app-layout #app-default-navbar{
		display: none;
	} 
}

@media (max-width: 992px){
	#app-layout #app-quick-search{
		display: none;
	}
}

/*#app-sticky-navbar*/
#app-layout #app-sticky-navbar{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),0 6px 15px 0 rgba(0, 0, 0, 0.19);
	z-index: 666;
}

.affix{
   	top: 0;
    width: 100%;
}

#app-layout #app-sticky-navbar .navbar-right li{
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
}

#app-layout #app-sticky-navbar .navbar-right .fa-car{
	margin-right: 5px;
}

#app-layout #app-sticky-navbar .navbar-brand > img{
    height: 100%;
}

@media (min-width: 480px){
	#app-layout #app-sticky-navbar .navbar-header{
		min-height: 80px;
	}

	#app-layout #app-sticky-navbar .navbar-header a{
		height: 80px;
	}

	#app-layout #app-sticky-navbar .navbar-padding .navbar-right li a{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#app-layout #app-sticky-navbar .navbar-header .navbar-toggle{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.affix + #app-content{
	    padding-top: 100px;
	}
}

@media (max-width: 768px){
	#app-layout #app-sticky-navbar .navbar-header{
		min-height: 50px;
	}
}

/*app-mobile-menu*/
@media (min-width: 768px){
	#app-layout #app-mobile-menu{
		display: none !important;
	}
}

#app-layout #app-mobile-menu .fa-phone, #app-layout #app-mobile-menu .fa-sign-in, #app-layout #app-mobile-menu .fa-car{
	margin-right: 5px;
}

/*#content*/
#app-layout .fa-btn{
    margin-right: 5px;
}

#app-layout #app-content{
	position: relative;
	min-height: 100%;
}

@media (max-width: 768px){
	#app-layout #app-content{
		padding-top: 95px;
	}
}

@media (max-width: 480px){
	#app-layout #app-content{
		padding-top: 65px;
	}
}

/*footer*/
#app-layout #app-default-footer hr{
	border-color: #BBB;
}